
<div class="profile-container">
	
	<div class="profile-head">
			<%= best_in_place @profile, :fname, url: profile_path(id: @user.profile.id)%>
			<%= " " %> 
			<%= best_in_place @profile, :lname, url: profile_path(id: @user.profile.id)%>'s 
			
			Profile
		<hr>
	</div>
	<div class="profile-wrap">
		<table>
			<tr>
				<td class="profile-category">
					Username
				</td>
				<td class="profile-item">
					<%= best_in_place @user, :username, activator: ".username"%><i class="fa fa-pencil edit-profile username"></i>
				</td>
			</tr>
			<tr>
				<td class="profile-category">
					email
				</td>
				<td class="profile-item">
					<%= best_in_place @profile, :email, url: profile_path(id: @user.profile.id), activator: ".email"%><i class="fa fa-pencil edit-profile email"></i>
				</td>
			</tr>
			<tr>
				<td class="profile-category">
					Birthday
				</td>
				<td class="profile-item">
					<%= best_in_place @profile, :birthday, url: profile_path(id: @user.profile.id), activator: ".birthday"%>
					<i class="fa fa-pencil edit-profile birthday"></i>
				</td>
			</tr>
			<tr>
				<td class="profile-category">
					Work
				</td>
				<td class="profile-item">
					<%= best_in_place @profile, :work, url: profile_path(id: @user.profile.id), activator: ".work"%><i class="fa fa-pencil edit-profile work"></i>
				</td>
			</tr>
			<tr>
				<td class="profile-category">
					Experience
				</td>
				<td class="profile-item">
					<%= best_in_place @profile, :exp_level, url: profile_path(id: @user.profile.id), :as => :select, collection: %w(0-1 2-4 5-7 8-10 11+), activator: ".experience"%> years <i class="fa fa-pencil edit-profile experience"></i>
				</td>
			</tr>
		</table>
	</div>
	<nav id="nav-button">
	<ul>
		<li><%= link_to 'Delete Account', @user, method: :delete, data: {confirm: "Are you sure?"} %></li>
	</ul>
	</nav>
</div>


