<% if session[:user_id] %>
	<% @search.each do |search| %>
		<div class="recent-card">
			<% @links = search.links.all %>
			<div class="question"><i class="fa fa-search"></i> <%= search.title %>
				<% @search = Search.find(search.id) %>
				<p class="note"><em><i class="fa fa-pencil"></i><%= best_in_place @search, :note, url: note_update_path(search_id: @search.id) %></em></p>
			</div>
			<div class="answer-language">
				<% search.languages.each do |language| %>
					&num;<%= language.name %>
				<% end %>
			</div>
			<div class="answer-label">See answers
			  <i class="fa fa-angle-down"></i>
			</div>
			<%= link_to card_delete_path(search: search), method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "hide-card" do %>
				<div class="delete-card"><i class="fa fa-times"></i></div>
			<% end %>
				<div class="clear"></div>

			<% @links.each do |link| %>
				<% @resources = link.resources.all%>
				<div class="answer-dropdown">
			 		<div class="answer-text">
						"<%= link.title %>"
						<p><%= link_to link.url, link.url, target: "_blank" %></p>
						<% @resources.each do |resource| %>
							<% if resource.search_id == search.id %>
								<p class="note"><em><i class="fa fa-pencil"></i><%= best_in_place resource, :note, url: resource_path(resource) %></em></p>
								<%= link_to answer_delete_path(resource: resource), method: :delete, remote: true, class: "hide-answer" do %>
									<div class="delete-answer"><i class="fa fa-times"></i></div>
								<% end %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>