<% if session[:user_id] %>
	<% @search.each do |search| %>
		<div class="recent-card">
			<% @tags = search.tags.all %>
			<% @links = search.links.all %>
			<div class="question"><%= search.title %>
				<p><%= search.note %></p>
			</div>
			<div class="answer-label">Answers
			  <img class="down" src="/assets/down.png">
			</div>
			<% @links.each do |link| %>
				<% @resources = link.resources.all%>
				<div class="answer-dropdown">
		 		<div class="answer-text">Answer: wwww.stackoverflow.com
					"<%= link.title %>"
					<%= link.url %>
					<p>
						<% @resources.each do |resource| %>
							<%= resource.note %>
						<% end %>
					</p>
				<% end %>
				</div>
				<div class="answer-language">
					<% @tags.each do |tag| %>
						<%= tag.language.name %>
					<% end %>
				</div>
	<% end %>
<% end %>
		</div>
