<%= form_tag(customsearch_path, :method => "post", remote: true) do %>
<%= label_tag(:q, "Enter search terms:") %>
<%= text_field_tag(:q) %>
<p><%= label_tag(:as_qdr, "Select the time period you would like to receive results from:")%></p>
<ul>
	<li><%= radio_button_tag(:as_qdr, "false") %>
	<%= label_tag(:as_qdr, "All results") %></li>
	<li><%= radio_button_tag(:as_qdr, "d") %>
	<%= label_tag(:as_qdr, "Results from past 24 hours") %></li>
	<li><%= radio_button_tag(:as_qdr, "w") %>
	<%= label_tag(:as_qdr, "Results from past week") %></li>
	<li><%= radio_button_tag(:as_qdr, "m") %>
	<%= label_tag(:as_qdr, "Results from past month") %></li>
	<li><%= radio_button_tag(:as_qdr, "m6") %>
	<%= label_tag(:as_qdr, "Results from past six months") %></li>
	<li><%= radio_button_tag(:as_qdr, "y") %>
	<%= label_tag(:as_qdr, "Results from past year") %></li>
	<li><%= radio_button_tag(:as_qdr, "y2") %>
	<%= label_tag(:as_qdr, "Results from past two years") %></li>
</ul>
<p><%= label_tag("site[]", "Limit search to specific sites")%></p>
	
<ul>
	<li><%= label_tag("site[]", "Github")%>
		<%= check_box_tag("site[]",  "github.com")%></li>
	<li><%= label_tag("site[]", "Stack Overflow")%>
		<%= check_box_tag("site[]", "stackoverflow.com")%></li>
	<li><%= label_tag("site[]", "W3 Schools")%>
		<%= check_box_tag("site[]", "w3schools.com")%></li>
	<li><%= label_tag("site[]", "CSS Tricks")%>
		<%= check_box_tag("site[]", "css-tricks.com")%></li>
	</li>
</ul>
<%= submit_tag("Search", class: "search") %>
<% end %>