<!DOCTYPE html>
<html>
<head>
	<link href="/assets/code_book.ico" rel="shortcut icon">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1">
  <title>CodeBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.rawgit.com/namuol/cheet.js/master/cheet.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="logo">
    <img id="logo-icon" src="/assets/book.png">
    <div id="logo-text">odeBook</div>
  </div>
  <nav id="nav">
    <ul>
    <% if @page %>
      
        <li><%= link_to "Save", save_path(url: params[:url], search_id: params[:search_id], title: params[:title]), method: "post", remote: true, class: "save" %></li>
        <li><%= link_to "Save & Close", save_path(url: params[:url], search_id: params[:search_id], title: params[:title]), method: "post", remote: true, class: "save_close" %></li>
        <li><%= link_to "Close", save_path(close: true), method: "post", remote: true, id: "close" %></li>
   
    <div id="save_message">
    </div>
  <% else %>
    
      <% if session[:user_id] %>
      <li><%= link_to "Profile", user_path(session[:user_id]) %></li>
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Searches", searches_path %></li>
      <li><%= link_to "Sign Out", sign_out_path %></li>
      
      <% else %>
      <li><%= link_to "Sign Up", sign_up_path %></li>
      <li><%= link_to "Sign In", sign_in_path %></li>
      <% end %>
    </ul>
    <% end %>
  </nav>
<div class="notice"><%= flash[:notice] %></div>
<div class="alert"><%= flash[:alert] %></div>



  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
